h1	{background-color : white;
	color : red;
	font-family : Arial, Helvetica, serif;
 	font-size : large;
 	font-style : normal;
 	font-weight : normal;
 	text-align : center
	}
p 	{color : black;
	font-family : Arial, Helvetica, serif;
 	font-size : medium;
 	font-style : normal;
 	font-weight : normal;
 	text-align : center
}
p.center	{color : black;
		text-align : center;
		margin-left: 20px
}
p.right	{color : black;
 	text-align : right;	
}
p.result{color : green;
	text-align : center;
	margin-left: 20px
}
p.error{color : red;
	text-align : center;
	margin-left: 20px
}
td.left {color : red;
	text-align: left;
	font-family : Tahoma;
	font-size : medium
	}


